/myapp1/node_modules
/myapp1/.eslintcache
/myapp1/.gitignore
/myapp1/package-lock.json
/myapp1/package.json
/myapp1/README.md
/myapp/build
/myapp/node_modules
/myapp/.eslintcache
/myapp/.gitignore
/myapp/package-lock.json
/myapp/package.json
/myapp/README.md
/myapp1/config
/vanilla/node_modules
/vanilla/package-lock.json
/vanilla/package.json
/suspiria/node_modules
/suspiria/.gitignore
/suspiria/CODE_OF_CONDUCT.md
/suspiria/package.json
/suspiria/README.md
/suspiria/public/favicon.ico
/suspiria/public/index.html
/suspiria/public/logo192.png
/suspiria/public/logo512.png
/suspiria/public/manifest.json
/suspiria/public/robots.txt
/suspiria/src/logo.svg
/suspiria/src/setupTests.js
/suspiria/src/reportWebVitals.js
/suspiria/src/App.test.js
/burgerapp/node_modules
/burgerapp/public/favicon.ico
/burgerapp/public/logo192.png
/burgerapp/public/logo512.png
/burgerapp/public/manifest.json
/burgerapp/public/robots.txt
/burgerapp/src/App.test.js
/burgerapp/src/logo.svg
/burgerapp/src/reportWebVitals.js
/burgerapp/src/setupTests.js
/burgerapp/.gitignore
/burgerapp/package-lock.json
/burgerapp/package.json
/burgerapp/README.md
/febday/node_modules
/febday/public/favicon.ico
/febday/public/index.html
/febday/public/logo512.png
/febday/public/manifest.json
/febday/public/robots.txt
/febday/src/logo.svg
/febday/src/reportWebVitals.js
/febday/src/App.test.js
/febday/.gitignore
/febday/package.json