/myapp1/node_modules
/myapp1/.eslintcache
/myapp1/.gitignore
/myapp1/package-lock.json
/myapp1/package.json
/myapp1/README.md
/myapp/build
/myapp/node_modules
/myapp/.eslintcache
/myapp/.gitignore
/myapp/package-lock.json
/myapp/package.json
/myapp/README.md
/myapp1/config
/vanilla/node_modules
/vanilla/package-lock.json
/vanilla/package.json