/myapp1/node_modules
/myapp1/.eslintcache
/myapp1/.gitignore
/myapp1/package-lock.json
/myapp1/package.json
/myapp1/README.md
/myapp/build
/myapp/node_modules
/myapp/.eslintcache
/myapp/.gitignore
/myapp/package-lock.json
/myapp/package.json
/myapp/README.md
/myapp1/config
/vanilla/node_modules
/vanilla/package-lock.json
/vanilla/package.json
/suspiria/node_modules
/suspiria/.gitignore
/suspiria/CODE_OF_CONDUCT.md
/suspiria/package.json
/suspiria/README.md
/suspiria/public/favicon.ico
/suspiria/public/index.html
/suspiria/public/logo192.png
/suspiria/public/logo512.png
/suspiria/public/manifest.json
/suspiria/public/robots.txt
/suspiria/src/logo.svg
/suspiria/src/setupTests.js
/suspiria/src/reportWebVitals.js
/suspiria/src/App.test.js