.App {
    text-align: center;
}

.red {
    color: red
}

.bold {
    font-weight: bold;
}

.Button {
    background-color: rgb(95, 95, 89);
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
}

.Button:hover {
    background-color: darkgoldenrod;
    color: black;
}

.Button.Red {
    background-color: rgb(18, 83, 139);
}

.Button.Red:hover {
    background-color: rgb(109, 97, 81);
}