 .App {
     text-align: center;
 }
 
 .red {
     color: red;
 }
 
 .bold {
     font-weight: 100;
 }
 
 .Button {
     background-color: bisque;
     color: black;
     font: bolder;
     padding: 8px;
     cursor: pointer;
 }
 
 .Button:hover {
     background-color: darkgreen;
     color: crimson;
 }
 
 .Red {
     background-color: hotpink;
     color: saddlebrown;
 }
 
 .Red:hover {
     background-color: tomato;
     color: gold;
 }